@import "tailwindcss";

@theme {
  --mobile-navbar-height: calc(100vh - 60px);
}

body {
  font-family: var(--font-red-hat-display), sans-serif;
  color: var(--foreground);
  background: var(--background);
}

path {
  transform-box: fill-box;
}
