@import "tailwindcss";

@theme {
  --screen-height: calc(100vh - 60px);
  --scroll-animation: 1300ms ease-in-out infinite slide-up;
}

body {
  font-family: var(--font-red-hat-display), sans-serif;
  color: var(--foreground);
  background: var(--background);
}

path {
  transform-box: fill-box;
}

@keyframes slide-up {
  0% {
    align-self: flex-end;
    height: 4px;
  }

  50% {
    height: 100%;
  }

  100% {
    align-self: flex-start;
    height: 4px;
  }
}
